<div class="center jumbotron">
<% provide(:title, "About - ") %>
<h1>About</h1>
<p>
 OffTheRack is a online store developed by Sara Slowey and Robert McRory.
</p>

<div id="about1">
    <%= image_tag("sara.jpg", alt: "Sara Slowey")%> 
</div>
<div id="about2">
    <%= image_tag("rob.jpg", alt: "Rob McRory")%> 
</div>

</div>
