<div class="center jumbotron">
<% provide(:title, "Contact - ") %>
<h1>Contact us</h1>
<p>
Having trouble or need to ping us a question?

You can contact us through the following details..
</p>

</div>
