<h1>Categories</h1>
<br>
    <% @categories.each do |category| %>
        <ul>

            <li>
                <h2><%= category.title %></h2>
            
            </li>
        </ul>
    <% end %>